<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- Load thẻ static để sử dụng file tĩnh -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Platform</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

</head>
<body>
    <header>
        <h1>Report Platform</h1>
    </header>
    
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#" ><i class="fas fa-home"></i> Report Page</a></li>
                <li><a 
                    href="{% url 'reports' %}" 
                    class="{% if request.resolver_match.url_name == 'reports' %}active{% endif %}" >
                    <i class="fas fa-chart-bar"></i> Reports Management
                </a></li>
                <li><a 
                    href="{% url 'users' %}"  
                    class="{% if request.resolver_match.url_name == 'users' %}active{% endif %}">
                    <i class="fas fa-user-tag"></i> User Management</a></li>
                <li><a href="#">
                    <i class="fas fa-users"></i> Roles
                </a></li>
            </ul>
        </div>

        <div class="main-content">
            {% block content %}
            <h1>Welcome to Report Sever </h1>
            Please, choose something you want at side bar
            {% endblock %}
        </div>
    </div>
</body>
</html>
